/Praktikum 8/latihanTutorial/target/
/Praktikum 8/latihantutorial/target/
/Praktikum 8/latihanVeryEasy/nbproject/private/
/Praktikum 8/latihanVeryEasy/build/
/Praktikum 8/latihanVeryEasy/dist/
/Praktikum 8/latihanVeryEasy/target/
/Praktikum 8/latihanMedium/target/
